---
import '../../styles/global.scss';
import Footer from '../../components/footer/index.tsx';

const { title = "Без названия" } = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
      }
      main {
        flex: 1;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Главная</a> |
        <a href="/about">О проекте</a>
      </nav>
    </header>

    <main>
      <slot />
    </main>

    <Footer client:load />
  </body>
</html>
