$white: #fff;
$green: #00A651;
$greenDark: #008F45;

$defaultFontFamily: 'Montserrat', sans-serif;
$boundedFontFamily: 'Bounded', sans-serif;
$defaultBoxShadow: 0 4px 20px rgba(0, 51, 102, 0.15);
$backgroundHeader: linear-gradient(135deg, #003366 0%, #002244 100%)