@font-face {
  font-family: 'RosatomWebBold';
  src: url('/fonts/Rosatom-Bold_W.eot');
  src:
       url('/fonts/Rosatom-Bold_W.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Rosatom-Bold_W.woff2') format('woff2'),
       url('/fonts/Rosatom-Bold_W.woff') format('woff'),
       url('/fonts/Rosatom-Bold_W.ttf') format('truetype'),
       url('/fonts/Rosatom-Bold_W.svg#RosatomWeb-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RosatomWebLight';
  src: url('/fonts/Rosatom-Light_W.eot');
  src:
       url('/fonts/Rosatom-Light_W.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Rosatom-Light_W.woff2') format('woff2'),
       url('/fonts/Rosatom-Light_W.woff') format('woff'),
       url('/fonts/Rosatom-Light_W.ttf') format('truetype'),
       url('/fonts/Rosatom-Light_W.svg#RosatomWeb-Light') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
