@use './settings';
@import './fonts';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  padding: 0;
  background: settings.$defaultBackground;
  font-family: settings.$defaultFontFamily, settings.$boundedFontFamily, sans-serif;
}
